<% if (page.demo_script) { %>

    <div class="demo-runner">
        <div class="page">
            <div class="left">
                <% if (page.title) { %>
                    <h2><%- page.title %></h2>
                <% } %>
                <div id="demo"></div>
            </div>
            <div class="right">
                <div id="demo-error"></div>
                <script type="text/plain" id="demo-code-content"><%- getFileContent(page.demo_script) %></script>
                <div id="demo-code"></div>
                <button id="run-script"><i class="fa fa-play"></i> Run (Ctrl+Enter)</button>
            </div>
            <div style="clear: both;"></div>
        </div>
    </div>
    <%- js("js/codemirror.js") %>
    <%- js("js/codemirror-mode-javascript.js") %>
    <%- js("js/script-runner.js") %>
<% } %>
