<header>
    <div class="page">

        <div class="header-left">
            <img src="<%- url_for("images/photonui-logo_white_300x300.png") %>" alt="PhotonUI logo" />
        </div>

        <div class="header-right">
            <h1><%- config.title %></h1>
            <% if (config.description) { %><p><%- config.description -%></p><% } %>

            <nav class="nav">
                <% for (var i in config.menu) { %>
                    <a href="<%- url_for(config.menu[i]) %>"><%- i %></a>
                <% } %>
            </nav>
        </div>

    </div>
</header>
