<%- partial("partial/demo-runner") %>

<div class="page">
    <article id="<%= page.layout %>-<%= page.slug %>" class="article article-type-<%= page.layout %>">
        <%- page.content %>
        <%- partial("partial/data-list-thumb") %>
    </article>
</div>
